.main {
  @apply flex h-screen flex-col items-center justify-center p-2 md:p-24  relative py-3;
  background-image: url('../../../public/connectBg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
